.profile-header {
  width: 100%;
}

.profile-header-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.profile-header-content p {
  padding-top: 1em;
  font-weight: 700;
}

.profile-header-content img {
  width: 5.5em;
  height: 5.5em;
  margin: 0 auto;
}

.profile-header-content img:hover {
  content: url("../assets/profile-pic-hover.svg");
}

.share-button {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.share-button img {
  margin-right: 10em;
  margin-bottom: -15px;
  position: absolute;
}

.share-button img:hover {
  content: url("../assets/share-button-hover.svg");
  margin-right: 9.5em;
}

@media (max-width: 768px) {
  .share-button img {
    margin-right: 0;
  }

  .share-button img:hover {
    margin-right: -0.5em;
  }
}

@media (max-width: 480px) {
  .share-button img {
    content: url("../assets/mobile-share-button-default.svg");
  }

  .share-button img:hover {
    content: url("../assets/mobile-share-button-hover.svg");
    margin-right: 0;
  }
}
